<a href="https://colab.research.google.com/github/fashogoat/University/blob/main/Tasks/Module_5_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Задание 1

In [5]:
n = int(input())
for i in range (2,a):
  if n % i == 0:
    print(i)
    break

15
3

Задание 2

In [6]:
a=int(input())
for n in range(100,0,-1):
  if 2**n <= a:
    print(n, 2**n)
    break

50
5 32

Задание 3

In [7]:
a = int(input())
b = int(input())
c = 0
while a < b:
  c += 1
  a = a * 1.1
print(c+1)

10
30
13

Задание 4

In [15]:
c = 0
a = 0

while True:
    n = int(input())
    if n == 0:
        break
    if a != 0 and n > a:
        c += 1
    a = n
print(c)

1
2
3
4
5
0
4

Задание 5

In [16]:
a = int(input())

i = 1
while i * i <= a:
    print(i * i)
    i += 1

50
1
4
9
16
25
36
49

Задание 6

In [17]:
n = int(input())

a = 1
b = 1
d = 2

if n == 1:
    print(d)
else:
    while b < n:
        c = a + b
        d += 1
        if c == n:
            print(d)
            break
        a = b
        b = c
    else:
        print(-1)

Введите число: 8
6

Задание 7

In [22]:
n = int(input())

a = 1
b = 1

if n == 1 or n == 2:
  c = 1
else:
  i = 2
  while i < n:
    c = a + b
    a = b
    b = c
    i += 1
  print(c)

6
8

Задание 8

In [23]:
a = []
b = 0
max = 0

while True:
    n = int(input())
    if n == 0:
        break
    a.append(n)

for i in range(len(a)):
    if i == 0 or a[i] != a[i-1]:
        b = 1
    else:
        b += 1
    if b > max:
        max = b
print(max)

1
2
2
2
9
7
7
2
1
0
3